@model IEnumerable<RelationshipOneToMany_FluentApi.Employee>

@{
    ViewBag.Title = "GetEmployeeDetails";
}

<h2>GetEmployeeDetails</h2>

<p>
    @Html.ActionLink("Create", "CreateEmployeeDetails")
    <br />
    @Html.ActionLink("Delete", "DeleteEmployeeDetails")
     <br />
    @Html.ActionLink("Search", "SearchEmployeeDetails")

    @*@Html.ActionLink("", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentId)
        </td>
        <td>
           @Html.ActionLink("Update", "UpdateEmployeeDetails", "Employee", new { item = item.Id })
        </td>
       
    </tr>
}

</table>
